* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 67, 67);
}

.canvas {
  margin-top: 10vh;
}

.visualize {
  width: 150px;
  height: 50px;
  font-size: 30px;
  color: white;
  background-color: rgb(26, 188, 156);
  border: none;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
}
